 <div class="responsive">
  <% @campaigns.each do |campaign| %>
    <div>
      <%= link_to project_path(campaign.project), class: "card-link" do %>
        <div class="card" style="width: 16rem;">
          <% if campaign.project.photo.attached? %>
            <%=cl_image_tag campaign.project.photo.key, class: "card-img"%>
          <% end %>
          <div class="card-body">
            <div class="campaign-info">
              <h5 class="card-title"><%=campaign.name.capitalize%></h5>
              <p class="description card-text"> <%= campaign.description %> </p>
            </div>
            <div class="campaign-end-date">
              <p class="card-text end-date-text"><b>End Date: <%= campaign.end_date.strftime("%B %d, %Y") %></b></p>
            </div>
            <div class="investment-info">
              <div class="campaign-equity">
                <p class="card-text"><b>Equity</b></p>
                <p class="card-text"><%= campaign.equity %>%</p>
              </div>
              <div class="campaign-investment">
                <p class="card-text"><b>Investment</b></p>
                <p class="card-text"><%= campaign.investment_goal %>€</p>
              </div>
            </div>
            <div class="progress" data-campaigns="<%= campaign.name %>">
            <div class="progress-bar bg-info" role="progressbar" style="width:<%= campaign.percent %>%;" aria-valuenow="<%= campaign.percent %>" aria-valuemin="0" aria-valuemax="100">
              <%= campaign.percent %>%
             </div>
           </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
