<div class="responsive">
    <div>
      <%= render 'shared/cards' %>
    </div>
    <div>
      <%= render 'shared/cards' %>
    </div>
    <div>
      <%= render 'shared/cards' %>
    </div>
    <div>
      <%= render 'shared/cards' %>
    </div>
    <div>
      <%= render 'shared/cards' %>
    </div>
    <div>
      <%= render 'shared/cards' %>
    </div>
    <div>
      <%= render 'shared/cards' %>
    </div>
    <div>
      <%= render 'shared/cards' %>
    </div>
    <div>
      <%= render 'shared/cards' %>
    </div>
</div>
