<div id="home-cards-container" class="container">
  <div class="cards">
    <% @campaigns.offset(rand(Campaign.count)).first(1).each do |campaign| %>
        <%= link_to project_path(campaign.project), class: "card-link" do %>
          <div class="card" style="width: 18rem;">
            <% if campaign.project.photo.attached? %>
            <%=cl_image_tag campaign.project.photo.key, class: "card-img-top" %>
            <% end %>
           <div class="card-body">
            <div class="campaign-info">
              <h5 class="card-title"><%=campaign.name.capitalize %></h5>
              <p class="description card-text"> <%= campaign.description %> </p>
            </div>
            <div class="campaign-end-date">
              <p class="card-text end-date-text"><b>End Date: <%= campaign.end_date.strftime("%B %d, %Y") %></b></p>
            </div>
              <p class="card-text"><b>Investment goal: </b> <%= campaign.investment_goal %>€ </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
