
<div id="home-banner">
  <div class="catch-phrase">
    <h1>Ready to start a business?</h1>
    <p>Balancer is funding
    and giving voice to underrepresented
    entrepreneurs</p>
    <%= link_to "Start Now", about_path, class: "btn" %>
  </div>
</div>

<br>
<h2 class="cards-header">Amazing campaigns</h2>
<div id="home-cards-container" class="container">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="height: 65vh">
          <div class="slide-style">
          <div class="cards">
           <% @campaigns.offset(rand(Campaign.count)).first(3).each do |campaign| %>
              <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/JKUTrJ4vK00/1600x900" alt="">
                 <div class="card-body">
                  <% if campaign.photo.attached? %>
                   <%=cl_image_tag campaign.photo.key, class: 'card-img-top' %>
                  <% end %>
                  <h5 class="card-title"><%=campaign.name %></h5>
                  <p class="card-text"><%= campaign.description %></p>
                  <p class="card-text">End Date <strong><%= campaign.end_date.strftime("%B %d, %Y") %></strong></p>
                  <p class="card-text">Investment Goal  <strong><%= campaign.amount %>€</strong></p>
                  <a href="/projects/<%= campaign.project.id %>" class="card-btn"> See Campaign </a>
                </div>
            </div>
        <% end %>
          </div>
        </div>
      </div>
        <div class="carousel-item" style="height: 65vh">
          <div class="slide-style">
             <div class="cards">
                <%@campaigns.offset(rand(Campaign.count)).first(3).each do |campaign| %>
                  <div class="card" style="width: 18rem;">
                  <img src="https://source.unsplash.com/JKUTrJ4vK00/1600x900" alt="">
                    <div class="card-body">
                      <% if campaign.photo.attached? %>
                      <%=cl_image_tag campaign.photo.key, class: 'card-img-top' %>
                      <% end %>
                      <h5 class="card-title"><%=campaign.name %></h5>
                      <p class="card-text"><%= campaign.description %></p>
                      <p class="card-text">End Date <strong><%= campaign.end_date.strftime("%B %d, %Y") %></strong></p>
                      <p class="card-text">Investment Goal  <strong><%= campaign.amount %>€</strong></p>
                      <a href="/projects/<%= campaign.project.id %>" class="card-btn"> See Campaign </a>
                    </div>
                  </div>
              <% end %>
          </div>
         </div>
        </div>
        <div class="carousel-item" style="height: 65vh">
        <div class="slide-style">
          <div class="slide-style">
             <div class="cards">
                <%@campaigns.offset(rand(Campaign.count)).first(3).each do |campaign| %>
                  <div class="card" style="width: 18rem;">
                  <img src="https://source.unsplash.com/JKUTrJ4vK00/1600x900" alt="">
                    <div class="card-body">
                      <% if campaign.photo.attached? %>
                      <%=cl_image_tag campaign.photo.key, class: 'card-img-top' %>
                      <% end %>
                      <h5 class="card-title"><%=campaign.name %></h5>
                      <p class="card-text"><%= campaign.description %></p>
                      <p class="card-text">End Date <strong><%= campaign.end_date.strftime("%B %d, %Y") %></strong></p>
                      <p class="card-text">Investment Goal  <strong><%= campaign.amount %>€</strong></p>
                      <a href="/projects/<%= campaign.project.id %>" class="card-btn"> See Campaign </a>
                    </div>
                  </div>
              <% end %>
          </div>
         </div>
        </div>
        </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!-- <div class="cards">
    <#% @campaigns.offset(rand(Campaign.count)).first(3).each do |campaign| %>
      <div class="card" style="width: 18rem;">
        <img src="https://source.unsplash.com/JKUTrJ4vK00/1600x900" alt="">
          <div class="card-body">
            <#% if campaign.photo.attached? %>
            <%#=cl_image_tag campaign.photo.key, class: 'card-img-top' %>
            <#% end %>
            <h5 class="card-title"><%#=campaign.name %></h5>
            <p class="card-text"><%#= campaign.description %></p>
            <p class="card-text">End Date <strong><%#= campaign.end_date.strftime("%B %d, %Y") %></strong></p>
            <p class="card-text">Investment Goal  <strong><%#= campaign.amount %>€</strong></p>
            <a href="/projects/<%#= campaign.project.id %>" class="card-btn"> See Campaign </a>
          </div>
        </div>
        <#% end %>
      </div> -->
</div>
<br>
<div class="jumbotron jumbotron-fluid">
  <div class="container text">
    <h1 class="display-4 text-center">About Balancer</h1>
      <div class="container jumbo">
        <div class="item">
          <p class="line-content"><i class="fas fa-arrows-alt"></i> We are <strong>a platform completely focused on giving voice to social impact projects and underrepresented entrepreneurs.</strong> </p>
        </div>
        <div class="item">
          <p class="line-content"><i class="fas fa-briefcase"></i> We enable underrepresented entrepreneurs to <strong>find investors to their social impact project.</strong></p>
        </div>
        <div class="item">
        <p class="line-content"><i class="far fa-building"></i> Our network includes almost <strong>3000 business centres, spanning almost 900 cities across 120 countries.</strong></p>
        </div>
        <div class="item">
        <p class="line-content"><i class="fas fa-globe"></i> We were founded in Portugal and Romenia in 2020. Birou is based in Lisbon and Romenia and listed on the Bananas Stock Exchange.</p>
        </div>
      </div>
  </div>
</div>

