
      <div class="row">
        <div class="col-lg-12 md-6 sm-3">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="height: 65vh">
          <!-- <div class="slide-style"> -->
            <img src="https://images.unsplash.com/photo-1550684848-fac1c5b4e853?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" class="d-block w-100" alt="First slide">
          <!-- </div> -->
        </div>
        <div class="carousel-item" style="height: 65vh">
          <!-- <div class="slide-style"> -->
          <img src="https://images.unsplash.com/photo-1570078356630-8805f28164b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" class="d-block w-100" alt="Second slide">
         <!-- </div> -->
        </div>
        <div class="carousel-item" style="height: 65vh">
        <!-- <div class="slide-style"> -->
          <img src="https://images.unsplash.com/photo-1550684848-86a5d8727436?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" class="d-block w-100" alt="Third slide">
        <!-- </div> -->
        </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


  <!-- Title -->

  <div class="container-campaing">
   <h1 class="title-campaign justify-content-center">Make a difference</h1>
   <h2>choose impact investments</h2>
  </div>

  <!-- cards -->

  <div class="wraper-campaign-card">
    <% @campaigns.each do |campaign| %>
    <div class="campaign-card">
      <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <% if campaign.photo.attached? %>
            <%=cl_image_tag campaign.photo.key, class: 'card-img-top' %>
            <% end %>
            <h5 class="card-title"><%=campaign.name %></h5>
            <p class="card-text"><%= campaign.description %></p>
            <p class="card-text">End Date <strong><%= campaign.end_date.strftime("%B %d, %Y") %></strong></p>
            <p class="card-text">Investment Goal  <strong><%= campaign.amount %>€</strong></p>
            <p class="card-text">Equity  <strong><%= campaign.percentage %>%</strong></p>
            <a href="/projects/<%= campaign.project.id %>" class="btn btn-primary">Project</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>







    <!-- <div class="row justify-content">
      <div class="col-xs-12 col-sm-6 col-lg-10">
        <div class='row-campaign'> -->





