
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 65vh">
            <%=cl_image_tag @campaigns.last.project.photo.key, class: "d-block w-100", :aspect_ratio=>"1.5", :crop=>"crop", :effect=> "gradient_fade", y: -0.9, background: "#3e2222", opacity: 60, alt:"First slide"%>
          <div class="carousel-content">
            <div class="featured">
              <p>Featured</p>
            </div>
            <h2><%= @campaigns.last %></h2>
          </div>
        </div>
      <% @campaigns.take(2).each do |campaign| %>
      <div class="carousel-item" style="height: 65vh">
        <%=cl_image_tag campaign.project.photo.key, class: "d-block w-100", :aspect_ratio=>"1.6", :crop=>"crop", :effect=> "gradient_fade", y: -0.9, background: "#3e2222", opacity: 60, alt:"Second slide"%>
        <div class="carousel-content">
            <div class="featured">
              <p>Featured</p>
            </div>
            <h2><%= campaign.name %></h2>
          </div>
      </div>
       <%=cl_image_tag campaign.project.photo.key, class: "d-block w-100", :aspect_ratio=>"1.6", :crop=>"crop", :effect=> "gradient_fade", y: -0.9, background: "#3e2222", opacity: 60, alt:"Second slide"%>
        <div class="carousel-content">
            <div class="featured">
              <p>Featured</p>
            </div>
            <h2><%= campaign.name %></h2>
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <%= end %>
    </div>
</div>

      <!-- Title -->
<div class="index-title">
  <h1>Make a difference</h1>
  <h2>choose impact investments</h2>
</div>

      <!-- Cards -->
<div class="content-wrapper">
  <div id="cards-campaign" class="row">
    <% @campaigns.each do |campaign| %>
      <div class="col-lg-3 col-md-5 col-sm-5 col-10">
        <div class="card">
          <%= link_to project_path(campaign.project), class: "card-link" do %>

          <% if campaign.project.photo.attached? %>
          <%=cl_image_tag campaign.project.photo.key, class: "card-img-top"%>
          <% end %>

          <div class="card-body">
            <div class="campaign-info">
              <h5 class="card-title"><%=campaign.name.capitalize%></h5>
              <p class="description card-text"> <%= campaign.description %> </p>
            </div>
            <div class="campaign-end-date">
              <p class="card-text end-date-text"><b>End Date: <%= campaign.end_date.strftime("%B %d, %Y") %></b></p>
            </div>
            <div class="investment-info">
              <div class="campaign-equity">
                <p class="card-text"><b>Equity</b></p>
                <p class="card-text"><%= campaign.percentage %>%</p>
              </div>
              <div class="campaign-investment">
                <p class="card-text"><b>Investment</b></p>
                <p class="card-text"><%= campaign.amount %>€</p>
              </div>
            </div>
            <div class="progress" data-campaigns="<%= campaign.name %>">
              <%= render 'progress_bar' %>
            </div>
          </div>
        <% end %>
       </div>
      </div>
    <% end %>
  </div>
</div>
