
  <!-- caroussel -->
  <div class="container" style="">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://source.unsplash.com/featured/?{company},{startup}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/featured/?{company},{startup}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/featured/?{company},{startup}" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


  <!-- cards -->

  <div class="container-fluid mt-5 mb-5">
    <h1 class="row justify-content-center">Investment Opportunities</h1>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-6 col-lg-10">
        <div class='row-campaign'>
          <% @campaigns.each do |campaign| %>
            <div class='container'>
              <div class="card">
                <div class="photo">
                <!-- <img src="assets/logo.png" alt=""> -->
                <%#= cl_image_tag project.photo.key %>
                </div>
                  <h2 class="row justify-content-center"><%= campaign.name %></h2>
                  <p><strong><%= campaign.description %></strong></p>
                  <p>Start:<strong><%= campaign.start_date %></strong></p>
                  <p>End:<strong><%= campaign.end_date %></strong></p>
                  <p>Equity:<strong><%= campaign.percentage %></strong></p>
                  <p>Investment goal:<strong><%= campaign.amount %></strong></p>
                </div>
                <!--  <a href="#" class="btn btn-flat">Edit</a> -->
                 <%#= link_to "", edit_office_booking_path(booking.office.id, booking) %>
                 </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>



